VITE_FIREBASE_API_KEY=AIzaSyCFKe12MyDKM2PQ5IXZIXORfM67JIA9eKI
VITE_FIREBASE_AUTH_DOMAIN=rayne-gourmet.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rayne-gourmet
VITE_FIREBASE_STORAGE_BUCKET=rayne-gourmet.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1074178859385
VITE_FIREBASE_APP_ID=1:1074178859385:web:1257012b9632d834ca4fa8
VITE_FIREBASE_DATABASE_URL=https://rayne-gourmet-default-rtdb.firebaseio.com
VITE_ADMIN_EMAIL=raynegourmet@gmail.com
