VITE_FIREBASE_API_KEY=AIzaSyAyDFe8jriSqx8IjWCYLKLpQwjwvZYLeYA
VITE_FIREBASE_AUTH_DOMAIN=rayne-gourmet-7801e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rayne-gourmet-7801e
VITE_FIREBASE_STORAGE_BUCKET=rayne-gourmet-7801e.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1056346765278
VITE_FIREBASE_APP_ID=1:1056346765278:web:8a50f146c1f01dfa4674eb
VITE_FIREBASE_DATABASE_URL=https://rayne-gourmet-7801e-default-rtdb.firebaseio.com
